body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color o.25s;
}
.buttons:hover{
    background-color: yellowgreen;
} /* this adds a delay in the buttons when you click it */
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
.numberBtn{
    font-size: 3em;
    padding:5px 25px;
    border-radius: 5px;
}
.mylabel{
    font-size: 3em;
}